html {
    background-color: #dee1ea;
    margin: 0;
    font-family: Inter, Regular;
}
.main_menu {
    margin: 20px 0px 20px 20px;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo {
    display: flex;
    align-items: center;
    width: 10%;
}
.logo img {
    width: 80%;
    height: 80%;
}
.main_nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.main_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 28px;
    align-items: center;
}
.main_nav a {
    text-decoration: none;
    padding: 8px 6px;
    color: #000000;
}
.button {
    flex: 0 0 auto;
    display: flex;
    width: 10%;
}
.sponsor_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: #203246;
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
}
.group_employees {
    margin: 20px 20px;
    display: flex;
}
.our-employees {
    font-size: 48px;
    text-align: center;
}
.eblock {
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-right: 10px;
    padding: 10px;
}
.eblock h3 {
    font-size: 36px;
    padding-bottom: 0px;
    margin: 10px 0px 10px 15px;
}
.eblock p {
    margin-top: 0;
    font-size: 22px;
    margin: 0px 0px 30px 15px;
}
.eblock img {
    width: 50%;
    height: 50%;
}
.employee-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: #203246;
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
    margin: 0px 0px 30px 15px;
}
