html {
    background-color: #dee1ea;
    font-family: Inter, Regular;
}
body {
    margin: 0;
}
.main_menu {
    margin: 20px 0px 20px 20px;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo {
    display: flex;
    align-items: center;
    width: 10%;
}
.logo img {
    width: 80%;
    height: 80%;
}
.main_nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.main_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 28px;
    align-items: center;
}
.main_nav a {
    text-decoration: none;
    padding: 8px 6px;
    color: #000000;
}
.button {
    flex: 0 0 auto;
    display: flex;
    width: 10%;
}
.sponsor_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px;
    background: #203246;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}
.main_hybrid {
    width: auto;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.main_hybrid img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.text_hybrid {
    position: absolute;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 10% 5% 5% 10%;
    padding-left: 10px;
    padding-bottom: 25px;
    background: rgba(6, 18, 32, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(27.5px);
    color: #ffffff;
    border-radius: 10px;
    z-index: 2;
}
.text_hybrid h1 {
    font-size: 36px;
}
.text_hybrid p {
    font-size: 24px;
}
.button-main-hydrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #2b4055;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 50%;
}
.button-main-hydrid a {
    color: #ffffff;
    text-decoration: none;
}
.employees {
    background-color: #DEE1EA;
}
.group_employees {
    margin: 20px 20px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.our_employees h2 {
    margin-left: 6%;
}
.eblock {
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: 1px solid #3A323280;
}
.eblock b {
    font-size: 36px;
    padding-bottom: 0px;
    margin: 10px 0px 10px 15px;
}
.eblock p {
    margin-top: 0;
    font-size: 22px;
    margin: 0px 0px 10px 15px;
}
.eblock img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;
}
.employee-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #9dafc5;
    border: 1px solid rgba(58, 50, 50, 0.5);
    border-radius: 5px;
    width: 30%;
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}
.sponsors-sec {
    background-color: #e6e9f0;
}
.our_sponsors {
    margin-left: 5%;
}
.sponsors {
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}
.sponsor-block {
    flex: 1;
    margin: 25px 50px 25px 50px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #3A323280;
}
.sponsor-block img {
    width: 25%;
    height: 25%;
    display: flex;
    align-items: left;
}
.sponsor-block span {
    display: flex;
    flex-direction: row;
}
.org-text {
    color: #19202ACC;
    margin: 0;
    padding-bottom: 10px;
    font-size: 18px;
}
.org-p-bio {
    color: #19202A;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.org-p-nova {
    color: #07367A;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.org-p-sib {
    color: #2F3438;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.org-p-eco {
    color: #379443;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.our_hybrids {
    margin-left: 5%;
}
.hydrids-sec {
    background: #F4F7FC;
}
.hybrids {
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    gap: 50px;    
    background: linear-gradient(180deg, #CBD2DC 0%, rgba(203, 210, 220, 0.1) 63.28%);
}
.hybrid-block {
    background: white;
    position: relative;
    border-radius: 10px;
    flex: 1 0 0;
    padding-bottom: 20px;
    border: 1px solid #3A323280;
}
.hybrid-block p {
    text-align: center;
    padding: 10px;
}
.hybrid-block img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    border: 10px soild black;
}
.hybrid-block button {
    width: 50%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #203145;
    border: 1px solid rgba(58, 50, 50, 0.5);
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    margin: auto;
}
.command {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    background: linear-gradient(270deg, #09111e 0%, #49515e 98.81%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
}
.command a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
    background: #2b4055;
    border: 1px solid rgba(58, 50, 50, 0.5);
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
}
.command-text {
    text-align: left;
}
.forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
}
form {
    max-width: 430px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(
        61.78deg,
        #0c1d2d 51.95%,
        rgba(12, 29, 45, 0.5) 99.07%
    );
}
form p {
    color: #ffffff;
}
input,
textarea,
button {
    width: 90%;
    padding: 10px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    height: 50px;
    resize: none;
}
button {
    background-color: #203145;
    color: #ffffff;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
footer {
    background: linear-gradient(270deg, #09111e 0%, #49515e 98.81%), #1f2733;
    display: flex;
    flex-direction: row;
}
footer p {
    color: rgba(255, 255, 255, 0.5);
}
footer span {
    margin-left: 100px;
    margin-top: 50px;
    width: 50%;
}
.contact-block {
    margin-left: 5%;
    text-align: center;
    width: 30%;
}
@media (max-width: 480px) {
    .group_employees {
        margin: 20px 20px;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .forms {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }
}
/* Блок с гибридами */
.home-hybrids {
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.home-block {
    background: white;
    position: relative;
    border-radius: 10px;
    flex: 1 0 0;
    border: 2px solid #000000B2;
}
.home-block img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}
.home-hybrids h2 {
    text-align: center;
}
.home-block p {
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
}
.home-block strong {
    margin-bottom: 30px;
}
.wild-hybrids {
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.wild-block {
    background: white;
    position: relative;
    border-radius: 10px;
    flex: 1 0 0;
    border: 2px solid #000000B2;
}
.wild-block img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}
.wild-hybrids h2 {
    text-align: center;
}
.wild-block p {
    padding: 5px 5px;
    text-align: center;
    font-size: 20px;
}
.our-projects {
    padding-left: 5%;
}
.projects-header {
    text-align: center;
}
p.price {
    text-align: right;
    margin-right: 10px;
}
/* Блок с вакансиями */
.vacancies {
    margin-left: 5%;
}
.vacancies-h1 {
    margin-left: 5%;
}
.vacancies-main-p {
    margin-left: 5%;
    width: 60%;
    font-size: 24px;
}
.vacancies-blocks {
  display: flex;
  flex-direction: row;
}
.details {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 20px 0px 0px;
  background: #3C5065;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.3s;
  overflow: hidden;
}

.details::after {
  position: absolute;
  right: 24px;
  top: 15px;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotate(-45deg);
  transform-origin: center;
  transition: .3s;
}

.details[open]::after {
  transform: rotate(45deg);
}

.details[open] {
  padding-bottom: 100px;
}

.details[open] .details_title {
  margin-bottom: 32px;
}

.details_title {
  background: #2B4055;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  list-style: none;
  transition: .3s;
}

.details_title::-webkit-details-marker {
  display: none;
}

.details_content {
  padding: 0 32px;
  font-size: 18px;
  margin-bottom: -60px;
}

.details_content p:last-child {
  margin-bottom: 0;
}
.details_content p:first-child {
  margin-top: 0;
}
@media (max-width: 480px) {
    .vacancies-blocks {
        display: flex;
        flex-direction: column;
    }
}
/* Блок с главным гибридом */
.about-project {
    display: flex;
    margin-left: 5%;
    font-size: 24px;
}
.about-project a {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 20px;
    background: #2b4055;
    border: 1px solid rgba(58, 50, 50, 0.5);
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
}
.about-project-text {
    width: 60%;
    font-size: 24px;
}
.features {
    display: flex;
    margin-left: 5%;
    font-size: 24px;
}
.features-text {
    width: 60%;
}
.features-img {
    width: 40%;
}
.features-img img {
    width: 75%;
    display: block;
    margin: auto;
    border-radius: 10px; 
    object-fit: cover;
}
.detail-hybrid-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.detail-hybrid-image {
    flex: 0 0 calc(50% - 10px);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.detail-hybrid-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}