html {
    background-color: #dee1ea;
    font-family: Inter, Regular;
}
body {
    margin: 0;
}
.main_menu {
    margin: 20px 0px 20px 20px;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo {
    display: flex;
    align-items: center;
    width: 10%;
}
.logo img {
    width: 80%;
    height: 80%;
}
.main_nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.main_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 28px;
    align-items: center;
}
.main_nav a {
    text-decoration: none;
    padding: 8px 6px;
    color: #000000;
}
.button {
    flex: 0 0 auto;
    display: flex;
    width: 10%;
}
.sponsor_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: #203246;
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
}
.main_hybrid {
    width: 1920px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.main_hybrid img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.text_hybrid {
    position: absolute;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding-left: 10px;
    padding-bottom: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 2;
}
.text_hybrid h1 {
    font-size: 24px;
}
.button-main-hydrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #2b4055;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 50%;
}
.button-main-hydrid a {
    color: #ffffff;
    text-decoration: none;
}
.group_employees {
    margin: 20px 20px;
    display: flex;
}
.our-employees {
    font-size: 48px;
    text-align: center;
}
.eblock {
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-right: 10px;
    padding: 10px;
}
.eblock h3 {
    font-size: 36px;
    padding-bottom: 0px;
    margin: 10px 0px 10px 15px;
}
.eblock p {
    margin-top: 0;
    font-size: 22px;
    margin: 0px 0px 30px 15px;
}
.eblock img {
    width: 100%;
    height: 50%;
}
.employee-button {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: left;
    gap: 6px;
    background: #203246;
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
    margin: 0px 0px 30px 15px;
}
.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsors-text {
    text-align: center;
}
.sponsor-block {
    flex: 1;
    margin: 50px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
.sponsor-block img {
    width: 40%;
    height: 40%;
}
.hybrids {
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.hybrid-block {
    background: white;
    position: relative;
    border-radius: 10px;
    flex: 1;
}
.hybrid-block p {
    text-align: center;
    padding: 10px;
}
.hybrid-block img {
    width: 100%;
    height: 50%;
}
.hybrid-block a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #203145;
    border: 1px solid rgba(58, 50, 50, 0.5);
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
}
.command {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    background: linear-gradient(270deg, #09111e 0%, #49515e 98.81%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
}
.command a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
    background: #2b4055;
    border: 1px solid rgba(58, 50, 50, 0.5);
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
}
.command-text {
    text-align: left;
}
form {
    max-width: 430px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(
        61.78deg,
        #0c1d2d 51.95%,
        rgba(12, 29, 45, 0.5) 99.07%
    );
}
form p {
    color: #ffffff;
}
input,
textarea,
button {
    width: 90%;
    padding: 10px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    height: 50px;
    resize: none;
}
button {
    background-color: #203145;
    color: #ffffff;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
footer {
    background: linear-gradient(270deg, #09111e 0%, #49515e 98.81%), #1f2733;
}
footer p {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
}
